extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  main.main
    
    .main__top.about
      .works__triangles-wrap
          .works__left 
            .works__triangles
              svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                  polygon(points="0,0 0,150 900,150")
          .works__right 
            .works__triangles
              svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                  polygon(points="0,150 900,150 900,0")
      .container            
        .about__bottom-wrap            
          .about__left 
            //- .about__triangles
            //-   svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
            //-     polygon(points="0,0 0,150 900,150")
            .about__wrap 
              .about__title 
                .about__back
                  h1.title.main-title.title--about Обо мне
              .about__text
                //- +image('photo/photo.png', 'фото разработчика', 'about__img img')
                picture
                  source(media='(min-width:1200px)', srcset='./assets/images/photo/photo-default@1.png 1x,\
                  ./assets/images/photo/photo-default@2.png 2x, ./assets/images/photo/photo-default@3.png 3x')
                  source(media='(min-width:768px)', srcset='./assets/images/photo/photo-desktop@1.png 1x,\
                  ./assets/images/photo/photo-desktop@2.png 2x, ./assets/images/photo/photo-desktop@3.png 3x')
                  source(media='(min-width:480px)', srcset='./assets/images/photo/photo-tablets@1.png 1x,\
                  ./assets/images/photo/photo-tablets@2.png 2x, ./assets/images/photo/photo-tablets@3.png 3x')
                  img.about__img.img(alt='фото разработчика', src='./assets/images/photo/photo-phones@1.png', srcset='./assets/images/photo/photo-phones@1.png 1x, \
                  ./assets/images/photo/photo-phones@2.png 2x, \
                  ./assets/images/photo/photo-phones@3.png 3x')
                h2.title.second-title Кто я
                p.text.about__content Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
                p.text.about__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .about__right 
            .about__wrap.about__wrap--right  
              h2.title.second-title Чем я могу быть вам полезен
              p.text.about__content Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
              #skills-component
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw6BYEWm9ft20VkdRBtctm5pTSccf52Ro")      
      .main__bottom.map
        
          .map__container#map 
          .map__block
            address.contact
              h2.title.second-title Контакты
              ul.contact__list
                li.contact__item 
                  +icon('skype', 'contact__img svg', 'ссылка на скайп')
                  a(href="skype:skype_kdn" title="ссылка на скайп" class="contact__link" target="_blank")
                    | skype_kdn
                li.contact__item 
                  +icon('envelope', 'contact__img svg', 'ссылка на электронную почту')
                  a(href="mailto:astahov@gmail.com" title="ссылка на электронную почту" class="contact__link")
                    | astahov@gmail.com
                li.contact__item 
                  +icon('phone', 'contact__img svg', 'ссылка на телефон')
                  a(href="tel:+79312009324" title="ссылка на телефон" class="contact__link" target="_blank")
                    | +7 931 200 93 24
                li.contact__item 
                  +icon('map_marker', 'contact__img svg', 'адрес')
                  | г.Новосибирск, ул. Инская, д. 5
        
            
