extends ../auth.layout.pug


block content
  //- .hello-world
    //- +icon('portfolio_header', 'hello-world__block')
    //- .inlined-svg
  .welcome-wrap
    .welcome
      .welcome__top 
        button.btn.btn--welcome Авторизоваться
      .welcome__center 
        .welcome__center-wrap
          .card
            +image('photo/photo.png', 'фото разработчика', 'card__img')
            .card__name Владимир Астахов
            .card__desc Личный сайт веб разработчика
          .socials
          .links
      .welcome__bottom 
        signature.signature.signature--welcome  © Владимир Астахов | создано с любовью в LoftSchool | 2018
