extends ../auth.layout.pug

block content
  include ../common/parallax.pug
  .welcome-wrap 
      .container
        .welcome
          .welcome__top 
            button.btn.btn--welcome Авторизоваться
          .welcome__center 
            h1.visually-hidden Личный сайт разработчика
            .flip-container
              .flipper
                .front
                  include ../common/cardFront.pug
                .back
                  include ../common/cardBack.pug
          .welcome__bottom
            signature.signature.signature--welcome 
              span © Владимир Астахов |  
              span создано с любовью в LoftSchool | 2018 