extends ../auth.layout.pug

block content
  //- .hello-world
    //- +icon('portfolio_header', 'hello-world__block')
    //- .inlined-svg
  .welcome-wrap
    .welcome
      .welcome__top aaa
      .welcome__center lll
      .welcome__bottom kkk
