extends ../auth.layout.pug

block content
  //-   .inlined-svg
  include ../common/parallax.pug
  .welcome-wrap 
      .container
        .welcome
          .welcome__top 
            button.btn.btn--welcome Авторизоваться
          .welcome__center 
            h1.visually-hidden Личный сайт разработчика
            .flip-container(ontouchstart="this.classList.toggle('hover');")
              .flipper
                .front
                  include ../common/cardFront.pug
                  //- .welcome__center-wrap|111111
                
                .back
                  include ../common/cardBack.pug
                  //- .welcome__center-wrap|222222
              
          .welcome__bottom
            signature.signature.signature--welcome 
              span © Владимир Астахов |  
              span создано с любовью в LoftSchool | 2018 