extends ../auth.layout.pug


block content
  //- .hello-world
    //- +icon('portfolio_header', 'hello-world__block')
    //- .inlined-svg
  .welcome-wrap
    .welcome
      .welcome__top 
        button.btn.btn--welcome Авторизоваться
      .welcome__center 
        .welcome__center-wrap
      .welcome__bottom 
        signature.signature.signature--welcome  © Владимир Астахов | создано с любовью в LoftSchool | 2018
