extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  main.main
    .main__top.works
      .works__triangles-wrap
        .works__left 
          .works__triangles
            svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                polygon(points="0,0 0,150 900,150")
        .works__right 
          .works__triangles
            svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                polygon(points="0,150 900,150 900,0")
      .works__header 
        .works__back
          h1.title.main-title.title--works Мои работы
    .container
      .works__wrap
        #slider-component
       
        .works__header.works__header--bottom
          .works__back.works__back--bottom
            h2.title.main-title.title--works Что обо мне говорят
        .main__bottom.comments
          .comments__top
            .comments__top-left
              +image('works/commas.png', 'кавычки', 'comments__commas')
              p.comments__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 3 месяца только самых тяжелых испытаний и бессонных ночей!
              .comments__photo-sign
                .comments__photo
                  +image('works/review-photo-1.jpg', 'Ковальчук Дмитрий', 'comments__img')
                .comments__sign  
                  span.bold Ковальчук Дмитрий 
                  span.normal основатель Loftschool
            .comments__top-right
              +image('works/commas.png', 'кавычки', 'comments__commas')
              p.comments__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .comments__photo-sign
                  .comments__photo
                    +image('works/review-photo-2.jpg', 'Сабанцев Владимир', 'comments__img')
                  .comments__sign  
                    span.bold Сабанцев Владимир 
                    span.normal преподаватель Loftschool
              
          .comments__bottom 
            include ../common/callback.pug
           
          a(href="#").comments__bottom-link
            +icon('portf_arrow_up', 'header__img  svg', 'вверх')
            span.visually-hidden дальше 