extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  main.main
    .container
      .main__top.works
        .works__triangles-wrap
          .works__left 
            .works__triangles
              svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                  polygon(points="0,0 0,150 900,150")
          .works__right 
            .works__triangles
              svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                  polygon(points="0,150 900,150 900,0")
          
        .works__header 
          .works__back
            h1.title.main-title.title--works Мои работы
        .works__wrap


      .main__bottom.comments

            
