extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  main.main
    .container
      .main__top.works
        .works__triangles-wrap
          .works__left 
            .works__triangles
              svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                  polygon(points="0,0 0,150 900,150")
          .works__right 
            .works__triangles
              svg(fill="#eeebdf", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                  polygon(points="0,150 900,150 900,0")
          
        .works__header 
          .works__back
            h1.title.main-title.title--works Мои работы
        .works__wrap
          .works__left
            .works__left-wrap 
              ul.works__list
                - var works = {'Сайт школы онлайн Образования':'HTML , CSS, JAVASCRIPT'}
                each value,key in works
                  li.works__item
                    h2.title.second-title #{key}
                    p.works__item-text #{value}
                    button.btn-works-item 
                      +icon('link', 'works__button-icon svg', 'ссылка на ' + key)
                      |Посмотреть сайт

          .works__right 
            .works__right-wrap
              .works__right-top
                +image('works/work-1.png', 'фото', 'works__img')
              .works__right-bottom
                .works__right-block
                  a(href="#" title="предыдущая работа").works__right-link
                    
                    +image('works/work-2.png', 'фото', 'works__img')
                    .works__right-phone 
                      +icon('portf_arrow_down', 'works__img-svg  svg', 'следующая работа')
                      span.visually-hidden дальше
                .works__right-block
                  a(href="#" title="следующая работа").works__right-link
                    +image('works/work-3.png', 'фото', 'works__img')
                    .works__right-phone 
                      +icon('portf_arrow_up', 'works__img-svg  svg', 'следующая работа')
                      span.visually-hidden дальше

        .works__header.works__header--bottom
          .works__back.works__back--bottom
            h1.title.main-title.title--works Мои работы
      .main__bottom.comments

            
