
.callback__bg#js_blur-container
  +image('works/bg.png', 'изображение гор', 'callback__bg-img')

.callback#js_blur-wrap
  .callback__blur#js_blur
  .callback__form-wrapper
    h2.title.second-title Связаться со мной
    form(action="server.php" method="POST" autocomplete).comments__form.form
      input(type="text", name="name" placeholder="Имя"  required="" minlength="2" maxlength="100").form__input.form__input-name
      span.form__error Это поле должно содержать имя пользователя от 2 символов
      input(type="email", name="email" placeholder="Email" required="" minlength="6").form__input.form__input-mail
      span.form__error Это поле должно содержать Email пользователя от 6 символов
      textarea(name="text" placeholder="Ваше сообщение" required="" minlength="5").form__textarea
      span.form__error Это поле должно содержать текст пользователя от 5 символов
      .form__wrap
        input(type="submit", value="Отправить").btn-works-item.form__submit
        input(type="reset", value="Очистить").btn-works-item.form__reset

//- script(type="template" id="responseTemplate")
//-   .overlay__container
//-     .overlay__block
//-       span.overlay__message
//-       button(type="button").overlay__btn Закрыть