include _mixins

.parallax 

    .parallax__layer
        +image('parallax/Layer_5.png', '', 'parallax__img')
    .parallax__layer
        +image('parallax/Layer_8.png', '', 'parallax__img')
    .parallax__layer
        +image('parallax/Layer_7.png', '', 'parallax__img')
    .parallax__layer
      +image('parallax/cloud_PNG4.png', '', 'parallax__img')
    .parallax__layer
        +image('parallax/Layer_6.png', '', 'parallax__img')
    .parallax__layer
        +image('parallax/Layer_4.png', '', 'parallax__img')
    .parallax__layer
      +image('parallax/sky.png', '', 'parallax__img')
    .parallax__layer
        +image('parallax/Layer_2.png', '', 'parallax__img')
    .parallax__layer
        +image('parallax/Layer_1.png', '', 'parallax__img')
    .parallax__layer
      +image('parallax/cloud_PNG5.png', '', 'parallax__img')