.preloader
  .preloader__container
    svg( class='preloader__img js_preloader__img' x="0px" y="0px" width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
      circle(class='preloader__circle preloader__circle--one' opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" enable-background="new" cx="72" cy="71.999" r="70")
      circle(class='preloader__circle preloader__circle--two' opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55")
      circle(class='preloader__circle preloader__circle--three' fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="72" cy="72" r="40")
    span.preloader__progress