include ./common/_mixins


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='shortcut icon' href='./assets/images/welcome/fav_mount.png' type='image/png')
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    
    block content

    script(src="auth.bundle.js")
    