.blog {
    &__wrap {
        margin-top: 70px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }
    &__aside {
        // border: 1px solid #000000;
        min-width: 250px;
        position: relative;
        @include tablets {
            // display: none;
            position: fixed;
            top: 0;
            background-color: $green;
            width: 70%;
            height: 100vh;
            padding-top: 50px; // min-width: 250px;
            // left: 0;
            left: 1000px;
            &--active {
                left: -70%;
            }
            &--show{
                left: 0;
            }

        }
        @include phones {
            width: 250px;
            left: -1000px;
            &--active {
                left: -250px;
            }
            &--show{
                left: 0;
            }
        }
        &-circle {
            width: 75px;
            height: 75px;
            border-radius: 50%; // border: 1px solid #000000;
            position: absolute;
            right: -35px;
            top: calc(50%-35px);
            z-index: -10;
            background-color: $green;
            cursor: pointer;
            display: none;
            @include tablets {
                display: block;
            }
        }
    }
    &__main {
        margin-left: 50px;
        @include tablets {
            margin-left: 0;
            padding: 10px;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__list {
        display: flex;
        flex-direction: column;
        // border: 1px solid #000000;
        &--fixed {
            position: fixed;
            top: 20px;
            width: 250px;
        }
    }
    &__item {
        margin-bottom: 15px;
        text-align: right;
        padding-right: 10px;
        &--active {
            color: #00bfa5;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            border-right: 3px solid #00bfa5;
        }
    }
    &__link {
        color: #455a64;
        @include tablets {
            color: $white;
        }
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: #00bfa5;
            @include tablets {
                color: $light-grey;
            }
        }
        &:focus {
            color: darken(#00bfa5, 50%);
            @include tablets {
                color: darken($light-grey, 50%);
            }
        }
        &:active {
            color: #00bfa5;
            @include tablets {
                color: $light-grey;
            }
            text-decoration: underline;
        }
        &--active {
            color: #00bfa5;
            @include tablets {
                color: $white;
            }
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
        }
    }
    &__paragraph {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    &__article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__time {
        margin-bottom: 15px;
        color: #00bfa5;
        font-size: 16px;
        font-weight: 400;
        line-height: 41px;
    }
    &__article {
        margin-bottom: 30px;
    }
}


