.svg {
    width: 100%;
    height: 100%;
}

.socials {
    display: flex;
    justify-content: center; //  border: 1px solid #000200;
    &__img {
        // border: 1px solid #000200;
        height: 20px;
        width: 40px;
        margin-right: 20px;
        transition: opacity 0.5s;
        &--welcome {
            fill: $green;
        }
        &--header {
            fill: #ffffff;
            opacity: 1;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}